/Pertemuan3/Praktik/GameEnvironment/nbproject/private/
/Pertemuan3/Praktik/GameEnvironment/build/
/Pertemuan5/Praktek/Vehicle/nbproject/private/
/Pertemuan5/Praktek/Vehicle/build/
/Pertemuan6/Teori/Transportasi/nbproject/private/
/Pertemuan6/Teori/Transportasi/build/
/Pertemuan6/Praktik/Vehicle/build/
/Pertemuan6/Praktik/Vehicle/nbproject/private/
/Pertemuan8/Praktik/Kasus1_SisfoAkademik/nbproject/private/
/Pertemuan8/Praktik/SisfoAkademik_kasus1/nbproject/private/
/Pertemuan8/Praktik/SisfoAkademik_kasus1/build/
