/Pertemuan3/Praktik/GameEnvironment/nbproject/private/
/Pertemuan3/Praktik/GameEnvironment/build/
/Pertemuan5/Praktek/Vehicle/nbproject/private/
/Pertemuan5/Praktek/Vehicle/build/
/Pertemuan6/Teori/Transportasi/nbproject/private/
/Pertemuan6/Teori/Transportasi/build/
